<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="ranong">
	<Properties>
		<Property name="fileName">logs/rizal/rizal.log</Property>
		<Property name="filePattern">logs/rizal/rizal-%d{yyyy-MM-dd}-%i.log.gz</Property>
		<Property name="LayoutPattern">[%-d{yyyy-MM-dd HH:mm:ss}]-[%t]-[%p]-[%C-%M(%L)] | %m%n </Property>
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="${LayoutPattern}" />
		</Console>
		<RollingFile name="ROLLING_FILE" fileName="${fileName}" filePattern="${filePattern}">
			<PatternLayout pattern="${LayoutPattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="ROLLING_FILE" />
		</Root>
	</Loggers>
</Configuration>